body {
  padding: 36px 156px;
}
#datetime-picker {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  min-width: 272px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  outline: transparent;
  margin-bottom: 32px;
}

#datetime-picker:hover {
  border-color: black;
}

#datetime-picker:active {
  border-color: #4e75ff;
}

#datetime-picker:disabled {
  border-color: #808080;
  color: #808080;
  background-color: #fafafa;
}

button {
  display: inline-flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #4e75ff;
  cursor: pointer;
  align-items: center;
}

button:hover {
  background-color: #6c8cff;
}

button:disabled {
  color: #989898;
  background-color: #cfcfcf;
}

.timer {
  display: flex;
  gap: 24px;
}

.value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: block;
}

.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
